*.o
*~
*.cache
.moc
Makefile
*.a
*.so
*.prl
AQConfig.cpp
AQConfig.h
settings.pro
/*.patch
bin
/abanq-build
/*-build-*
/src/qt/include
/src/qt/tools/designer/designer
/src/qt/tools/designer
/src/qt/tools/linguist/linguist/about.*
/src/qt/tools/linguist/linguist/qmake_image_collection.*
/src/qt/tools/linguist/linguist/statistics.*
src/advance/qmake_image_collection.cpp
src/flbase/FLStaticLoaderUI.cpp
src/flbase/FLStaticLoaderUI.h
src/flbase/FLWidgetAbout.cpp
src/flbase/FLWidgetAbout.h
src/flbase/FLWidgetConnectDB.cpp
src/flbase/FLWidgetConnectDB.h
src/flbase/FLWidgetFieldDB.cpp
src/flbase/FLWidgetFieldDB.h
src/flbase/FLWidgetReportViewer.cpp
src/flbase/FLWidgetReportViewer.h
src/flbase/FLWidgetScriptEditor.cpp
src/flbase/FLWidgetScriptEditor.h
src/flbase/FLWidgetTableDB.cpp
src/flbase/FLWidgetTableDB.h
src/flbase/qmake_image_collection.cpp
src/fllite/qmake_image_collection.cpp
src/libmysql
src/libmysql_std/libmysql_std
src/plugins/designer/flfielddb/qmake_image_collection.cpp
src/plugins/designer/fltable/qmake_image_collection.cpp
src/plugins/designer/fltabledb/qmake_image_collection.cpp
src/qsa/configure2/configure2
src/qsa/tools/designer/editor/preferences.cpp
src/qsa/tools/designer/editor/preferences.h
src/qt/config.status
src/qt/config.tests/unix/endian/endiantest
src/qt/config.tests/unix/ipv6/ipv6test
src/qt/config.tests/unix/largefile/largefiletest
src/qt/config.tests/unix/ptrsize/ptrsizetest
src/qt/mkspecs/default
src/qt/qmake/qmake
src/qt/src/tools/qconfig.cpp
src/qwt/designer/qmake_image_collection.cpp
export/
